/* -------------------------------------*/
/*           GENERAL & TITRES           */
/* -------------------------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #25254e;
    background: #f5f5f5;
}
h1, h2, h3, figcaption {
    font-weight: normal;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.hidden {
    display: none;
}

/* -------------------------------------*/
/*                HEADER                */
/* -------------------------------------*/
header {
    box-shadow: 0 0 10px #555;
}
.header-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #fff;
}
.header-nav-button, .header-logo, .header-connexion-button {
    flex-shrink: 0;
}
/* TOP LEFT NAVIGATION BUTTON */
.header-nav-button {
    width: 80px;
    height: 90px;
    border-right: 2px solid #f5f5f5;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.header-nav-button .fas {
    color: #ff8a61;
    font-size: 28px;
}
.header-nav-button p {
    margin: 0;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}
/* LOGO */
.header-logo {
    padding: 0 25px;
}
.header-logo img {
    width: 140px;
}
/* SEARCH BAR */
.header-searchbar {
    width: 100%;
}
.header-searchbar form {
    border: 2px solid #f5f5f5;
    margin-right: 30px;
    border-radius: 30px;
    line-height: 3em;
}
.header-searchbar label {
    width: 10%;
    color: #ff8a61;
    font-size: 20px;
}
.header-searchbar input {
    width: 90%;
    padding-left: 10px;
    background: none;
    border: none;
}
.header-searchbar input::placeholder {
    color: #020057;
    font-weight: bold;
    font-size: 1.2em;
}
.header-searchbar input:focus::placeholder {
    color: lightgray;
    font-weight: normal;
}
/* CONNECTION BUTTON */
.header-connexion-button {
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #f5f5f5;
}
.header-connexion-button button {
    padding: 0 15px;
    background: #eb6a3d;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20x;
    height: 35px;
    cursor: pointer;
    transition: all 0.4s;
}
.header-connexion-button button:hover {
    background: #eb6a3dcc;
    box-shadow: 0 0 5px #aaa;
}
.header-connexion-button button .fas {
    font-size: 20px;
    margin-right: 10px;
}

/* COLLAPSIBLE NAV */
.header-collapsible-nav {
    background: #f5f5f5;
}
.header-collapsible-nav ul {
    list-style: none;
    margin: auto;
    max-width: 800px;
    width: 90%;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.header-collapsible-nav a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.header-collapsible-nav .selected {
    border-bottom: 4px solid #ff8a61;
}

/* -------------------------------------*/
/*                 MAIN                 */
/* -------------------------------------*/
/* WELCOME PANEL */
.wrapper {
    max-width: 1024px;
    margin: 20px auto;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;

    position: relative;
}
.main-welcome-panel-bg-img {
    width: 100%;
    height: 300px;
    background-image: url("../img/welcome-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* blur effect : */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: filter 0.5s;
}
.main-welcome-panel:hover .main-welcome-panel-bg-img {
    filter: unset;
}
.main-welcome-panel-content {
    padding: 10px 30px;
    position: absolute;
    top: 50px;
    width: 100%;
}
.main-welcome-panel h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.7em;
    text-shadow: #000 0 0 5px;
}
.main-welcome-panel form {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin: auto;
    max-width: 700px;
    border: 15px solid #bbb7;
    border-radius: 25px;
    background: #fff;
}
.main-welcome-panel input {
    border: none;
    width: 100%;
    padding: 13px 17px;
    background: none;
}
.main-welcome-panel button {
    background: none;
    border: none;
    color: #ff8a61;
    font-size: 20px;
    width: 100px;
    border-left: 1px solid lightgrey;
    cursor: pointer;
}
.main-welcome-panel p {
    color: #fff;
    text-shadow: #000 0 0 5px;
    text-align: right;
    max-width: 700px;
    margin: 30px auto;
}
.main-welcome-panel a {
    display: inline-block;
    margin: 0 10px;
}
.main-welcome-panel a:hover {
    text-decoration: underline;
}

/* MAIN RECEIPE GALLERY */
.main-receipe-gallery {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    height: 2200px;
    padding-top: 20px;
}
.main-receipe-gallery article {
    margin: 10px 0;
    padding: 0;
    width: 30%;
    border-radius:  30px;
    overflow: hidden;
    border: 4px solid #eee;
}
.main-receipe-gallery figure {
    margin: 0;
}
.main-receipe-gallery figcaption {
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: bold;
    color: #eb6a3d;
    margin: 20px 0;
}
.main-receipe-gallery img {
    width: 100%;
}
.main-receipe-gallery p {
    margin: 0;
    padding: 15px 0;
    background: #eb6a3d;
    color: #fff;
    font-size: 1.6em;
    line-height: 1.2em;
    text-transform: uppercase;
}
.main-receipe-gallery .txt-violet {
    color: #4d3e78;
}
.main-receipe-gallery .bg-violet {
    background: #4d3e78;
}
.main-receipe-gallery .article-wrapper {
    position: relative;
}
.main-receipe-gallery .white-square {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;

}

/* -------------------------------------*/
/*                FOOTER                */
/* -------------------------------------*/

