/* -------------------------------------*/
/*           GENERAL & TITRES           */
/* -------------------------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #25254e;
    background: #f5f5f5;
}
h1, h2, h3, figcaption {
    font-weight: normal;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

/* -------------------------------------*/
/*                HEADER                */
/* -------------------------------------*/
header {
    box-shadow: 0 0 10px #555;
}
.header-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #fff;
}
.header-nav-button, .header-logo, .header-connexion-button {
    flex-shrink: 0;
}
/* TOP LEFT NAVIGATION BUTTON */
.header-nav-button {
    width: 80px;
    height: 90px;
    border-right: 2px solid #f5f5f5;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.header-nav-button .fas {
    color: #ff8a61;
    font-size: 28px;
}
.header-nav-button p {
    margin: 0;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}
/* LOGO */
.header-logo {
    padding: 0 25px;
}
.header-logo img {
    width: 140px;
}
/* SEARCH BAR */
.header-searchbar {
    width: 100%;
}
.header-searchbar form {
    border: 2px solid #f5f5f5;
    margin-right: 30px;
    border-radius: 30px;
    line-height: 3em;
}
.header-searchbar label {
    width: 10%;
    color: #ff8a61;
    font-size: 20px;
}
.header-searchbar input {
    width: 90%;
    padding-left: 10px;
    background: none;
    border: none;
}
.header-searchbar input::placeholder {
    color: #020057;
    font-weight: bold;
    font-size: 1.2em;
}
.header-searchbar input:focus::placeholder {
    color: lightgray;
    font-weight: normal;
}
/* CONNECTION BUTTON */
.header-connexion-button {
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #f5f5f5;
}
.header-connexion-button button {
    padding: 0 15px;
    background: #eb6a3d;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20x;
    height: 35px;
    cursor: pointer;
    transition: all 0.4s;
}
.header-connexion-button button:hover {
    background: #eb6a3dcc;
    box-shadow: 0 0 5px #aaa;
}
.header-connexion-button button .fas {
    font-size: 20px;
    margin-right: 10px;
}

/* COLLAPSIBLE NAV */
.header-collapsible-nav {
    background: #f5f5f5;
    /* margin-top: 90px; */
}
.header-collapsible-nav ul {
    list-style: none;
    margin: auto;
    max-width: 800px;
    width: 90%;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.header-collapsible-nav a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.header-collapsible-nav .selected {
    border-bottom: 4px solid #ff8a61;
}

/* -------------------------------------*/
/*                 MAIN                 */
/* -------------------------------------*/
.wrapper {
    max-width: 1024px;
    margin: 20px auto;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;

    position: relative;
}
.main-welcome-panel-bg-img {
    width: 100%;
    height: 300px;
    background-image: url("../img/welcome-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: filter 0.5s;
}
.main-welcome-panel-bg-img:hover {
    filter: unset;
}
.main-welcome-panel-content {
    position: absolute;
    top: 50px;
}