/* -------------------------------------------*/
/*                    FONTS                   */
/* -------------------------------------------*/
html {
  font-size: 18px;
  font-family: 'Bree Serif', serif;
  color: #959595;
  line-height: 2em;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  font-size: 1.111rem;
}
.logo, h1 {
  font-size: 2.222rem;
}
h2 {
  font-size: 1.944rem;
  font-weight: normal;
}
h3 {
  font-size: 1.667rem;
  font-weight: normal;
}
i {
  font-size: 1.389rem;
}
input {
  font-size: 0.889rem;
}
/* Décoration des grands titres */
h1::before, h2::before {
  content: "- ";
}
h1::after, h2::after {
  content: " -";
}

/* -------------------------------------------*/
/*                   GENERAL                  */
/* -------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url("../img/fond.png");
  text-align: center;
}

/* -------------------------------------------*/
/*                   HEADER                   */
/* -------------------------------------------*/
header {
  max-width: 1100px;
  margin: 0 auto;
}
.logo {
  margin: 30px auto;
}
.logo img {
  width: 3rem;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
     transition: all 0.5s ease-out;
}
.logo p {
  margin: 0 auto;
  font-size: 2.222rem;
  -webkit-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
/* Hover & Transitions sur le logo */
.logo:hover img {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.logo:hover p {
  color: #f22c5d;
}
/* Navigation */
nav a {
  display: block;
  line-height: 1.8em;
  margin: 20px auto;
  -webkit-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
/* Hover & Transitions sur le nav */
nav a:hover {
  color: #f22c5d;
  -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

/* -------------------------------------------*/
/*                DIV WELCOME                 */
/* -------------------------------------------*/
#welcome {
  padding: 100px 2%;
  background: url("../img/bg_header.png") center no-repeat;
  color: #fff;
}
#welcome p {
  font-weight: bold;
  max-width: 1100px;
  margin: 0 auto;
}
#welcome a {
  display: block;
  background-color: #f22c5d;
  width: 175px;
  border-radius: 5px;
  margin: 50px auto 0 auto;
  line-height: 2.5em;
  font-weight: bold;
}

/* -------------------------------------------*/
/*                   MAIN                     */
/* -------------------------------------------*/
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
}
section{
  margin-top: 100px;
}
h2 {
  color: #f22c5d;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
  margin-bottom: 40px;
}

/* -------------------------------------------*/
/*            SECTION COMPETENCES             */
/* -------------------------------------------*/
.competence {
  margin-bottom: 80px;
}
.competence:last-of-type {
  margin-bottom: 0;
}
.competence p {
  margin: 0;
}
.competence h3 {
  margin: 0;
}

/* -------------------------------------------*/
/*              SECTION SERVICES              */
/* -------------------------------------------*/
.service {
  margin-bottom: 80px;
}
.service-logo {
  height: 6rem;
  width: 6rem;
  margin: auto;
  line-height: 6rem;
  background-color: #95959522;
  border: 2px solid #95959544;
  border-radius: 50%;
  /* BOUNCE ! */
  position: relative;
  -webkit-animation: bounce 0.7s ease infinite;
          animation: bounce 0.7s ease infinite;
}
.service h3 {
  color: #f22c5d;
}

/* -------------------------------------------*/
/*            SECTION REALISATIONS            */
/* -------------------------------------------*/
.realisation {
  text-align: left;
}
.realisation h3 {
  color: #f22c5d;
}
.realisation img {
width: 100%;
}
.realisation a {
  color: #f22c5d;
  padding: 10px;
  margin-left: 20px;
  border-radius: 40px;
  -webkit-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
.realisation a i {
  font-size: 1rem;
}
/* hover & transitions sur les "en savoir plus" */
.realisation a:hover {
  background-color: #f22c5d55;
}

/* -------------------------------------------*/
/*               SECTION CONTACT              */
/* -------------------------------------------*/
#contact {
  text-align: left;
}
#contact p {
  padding: 0 5%;
}
form {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: Arial, sans-serif;
}
/* Mise en forme des champs de saisie */
input[type="text"], input[type="email"] {
  display: block;
  width: 100%;
  line-height: 60px;
  padding-left: 60px;
  border: 2px solid #ddd;
  border-radius: 30px;
  margin: 7px 0;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 40px;
  color: #959595;
  background-color: #fff0;
}
/* Ajout des logos sous forme de background */
input[name="firstName"] {
  background-image: url(../img/bg_form_name.svg);
}
input[name="email"] {
  background-image: url(../img/bg_form_mail.svg);
}
input[name="message"] {
  background-image: url(../img/bg_form_message.svg);
}
/* mise en forme des boutons */
input[type="submit"], input[type="reset"] {
  display: inline-block;
  width: 150px;
  line-height: 60px;
  border-radius: 0;
  border: 0;
  color: #fff;
  margin-top: 40px;
  font-size: 1.1em;
}
input[type="submit"] {
  background-color: #f22c5d;
}
input[type="reset"] {
  background-color: #959595;
}

/* -------------------------------------------*/
/*                   FOOTER                   */
/* -------------------------------------------*/
#licence a {
  color: #f22c5d;
}
#licence {
    text-align: center;
    padding: 25px;
    font-size: 0.75em;
}
#licence img {
    width: 50px;
}





/* -------------------------------------------*/
/*           RESPONSIVE : TABLETTES           */
/* -------------------------------------------*/
@media screen and (min-width: 640px) {
  /* Header : plus gros logo */
  .logo img {
    width: 7rem;
    margin-bottom: 20px;
  }
  /* Header : les boutons du nav sont en ligne */
  nav a {
    display: inline-block;
    width: 150px;
    margin: 0 20px;
  }
  nav {
    margin-bottom: 50px;
  }
  /* Section 3 réalisations : les images flottent de ma nière alternative */
  .realisation img {
    width: 50%;
  }
  .realisation:nth-child(2n) img {
    float: right;
    margin-left: 20px;
  }
  .realisation:nth-child(2n+1) img {
    float: left;
    margin-right: 20px;
  }
  /* Section Contact : le imput pour le nom et le mail sont en ligne */
  #contact input[name="firstName"],
  #contact input[name="email"] {
    display: inline-block;
    width: 49%;
  }
  #contact input[name="firstName"] {
    margin-right: 1%;
  }
  #contact input[name="email"] {
    margin-left: 1%;
  }
}



/* -------------------------------------------*/
/*            RESPONSIVE : DESKTOP            */
/* -------------------------------------------*/
@media screen and (min-width: 1025px) {
  /* Header : le logo redevient plus petit */
  /* + logo et nom sont disposés en ligne */
  .logo img {
    width: 3rem;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .logo p {
    display: inline-block;
    vertical-align: middle;
  }
  /* Header : la div logo et le nav sont disposés en ligne */
  .logo {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
  }
  nav {
    display: inline-block;
    width: 60%;
    margin: 30px 0;
    vertical-align: middle;
  }
  /* Section 1 : Les compétences sont disposées en ligne */
  /* Section 2 : Pareil pour les services*/
  .competence, .service {
    display: inline-block;
    width: 30%;
    margin-bottom: 0;
    padding: 0 2%;
  }
}



/* -------------------------------------------*/
/*              BONUS : BOUNCE !              */
/* -------------------------------------------*/

@-webkit-keyframes bounce{
     from {bottom: 0px;}
     50%  {bottom: 10px;}
     to   {bottom: 0px;}
}
@keyframes bounce{
     from {bottom: 0px;}
     50%  {bottom: 10px;}
     to   {bottom: 0px;}
}
